.options__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;

    button {
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Noto Sans JP', sans-serif;
        border: none;
        background-color: rgb(255, 255, 255);
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        width: 100px;
        height: 30px;
        border-radius: 10px;
        transition: transform 0.15s ease;
        
        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(1);
        }

        &[name="good"] {
            background-color: blueviolet;
            
            &::after {
                content: '😃';
            }
        }

        &[name="neutral"] {
            background-color: rgb(131, 226, 43);

            &::after {
                content: '😐';
            }
        }

        &[name="bad"] {
            background-color: rgb(226, 43, 43);

            &::after {
                content: '🙁';
            }
        }
    }
}